@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(2px) contrast(4) hue-rotate(290deg);
  mix-blend-mode: darken;
}
.loader:before {
  content: "";
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ff00cc;
  background: currentColor;
  box-shadow: -30px 0, 30px 0, 0 30px, 0 -30px;
  animation: l6 1s infinite alternate;
}
@keyframes l6 {
  90%,
  100% {
    box-shadow: -10px 0, 10px 0, 0 10px, 0 -10px;
    transform: rotate(180deg);
  }
}
